
{% comment %} PLEASE DON'T MAKE CHANGES IN THIS FILE IT'S AFFECT THE CODE IF YOU NEED ANY HELP PLEASE CONTACT TO FLITS TEAM support@getflits.com {% endcomment %}
{% comment %} PLEASE DON'T MAKE CHANGES IN THIS FILE IT'S AFFECT THE CODE IF YOU NEED ANY HELP PLEASE CONTACT TO FLITS TEAM support@getflits.com {% endcomment %}

<div class="flits-custom-lion-page" style="display:none">
  <div>
    {% render "account-details" %}
  </div>
</div>
  
<div class="flits-custom-lion-page-mobile" style="display:none">
    <div>
      {% render "account-details" %}  
    </div>
</div>
  