{% if class %}<span class="icon {{class}}"{% if focusable %} tabindex="0"{% endif %}>{% endif %}
    <svg class="icon icon__{{ name }}"><use xlink:href="#icon-{{ name }}"></use></svg>
{% if class %}</span>{% endif %}
