{%- assign limit = section.settings.limit -%}

{% if blog.articles.size > 0 %}
<div class='main-blog main-blog--events'>
    <div class='main-blog__wrapper'>
        {% paginate blog.articles by limit %}
            <section class="page-section blog__posts blog__posts--events css-grid css-grid--default css-grid--small-1 css-grid--medium-3 css-grid--large-3">
                {% for article in blog.articles %}
                    {% render "card--event" article: article %}
                {% endfor %}
            </section>

            {% if paginate.pages > 1 %}
                {% render 'pagination' paginate: paginate %}
            {% endif %}
        {% endpaginate %}
    </div>
    <div class='main-blog--event-types'>
        <h5 class='event-types__heading'>Event Types</h5>
        <ul class='event-types__list'>
            <li class='event-types__list-item {% if current_tags == blank %}event-types__list-item--current{% endif %}'>
                <a href="/blogs/{{ blog.handle }}">
                    All
                </a>
            </li>
            {% for tag in blog.all_tags %}
                <li class='event-types__list-item {% if current_tags contains tag %}event-types__list-item--current{% endif %}'>
                    {{ tag | link_to_tag: tag }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% else %}
    <div class='events-list--coming-soon'>
        <h4>Coming Soon</h4>
    </div>
{% endif %}


{% schema %}
{
    "name": "Main Blog - Events",
    "class": "page-section page-section--default page-section--events",
    "tag": "section",
    "settings": [
        {
            "type": "range",
            "id": "limit",
            "min": 3,
            "max": 24,
            "step": 3,
            "label": "Events per page",
            "default": 6
        }
    ]
}
{% endschema %}
