<section class="page-header page-header--collection">
    {% if collection.image != blank %}
        <div class="page-header__media">
            {% render 'responsive-image' with image: collection.image, image_class: "background-image" %}
        </div>
    {% endif %}

    <div class="page-header__content">
        <h1 class="page-header__title">{{ collection.title }}</h1>

        {% if collection.description != blank %}
            <div class="page-header__text">
                {{ collection.description }}
            </div>
        {% endif %}
    </div>
</section>


{% schema %}
{
    "name": "Page Header - Collection",
    "class": "page-section page-section--full-bleed page-section--gap-bottom"
}
{% endschema %}
