<section class="page-header">
    <div class="page-header__content">
        <h1 class="page-header__title">{{ section.settings.page-header-title }}</h1>

        <div class="page-header__description">{{ section.settings.page-header-content }}</div>
    </div>
</section>

{% schema %}
{
    "name": "Password Content",
    "class": "page-header page-header--default page-header--password",
    "settings": [
        {
            "type": "text",
            "id": "page-header-title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "page-header-content",
            "label": "Content"
        }
    ]
}
{% endschema %}

