<section class="page-section page-section--page page-section--gap-bottom">
    <div class="container">
        {{ page.content }}
    </div>
</section>

{% schema %}
{
    "name": "Page Content",
    "class": "page-section page-section--page-content",
    "settings": [],
    "presets": [
        {
            "name": "Page Content",
            "category": "Components"
        }
    ]
}
{% endschema %}