{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Product Slider" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the product slider section
  - Product
{%- endcomment -%}
<section class="product-slider product-slider-section">
    <div class="container">
        {%- if section.settings.subtitle != blank -%}
            <span class="subtitle subtitle--{{ section.settings.subtitle_color | default: 'blue' }}">{{ section.settings.subtitle | escape }}</span>
        {%- endif -%}
        
        {% if section.settings.title != blank %}
            <h2 class="product-slider__title">{{ section.settings.title | escape }}</h2>
        {% endif %}
    </div>

    <div class="carousel--product-slider-wrapper">
        <div class=" animate-in animate-in--slide-right swiper carousel--product-slider container">
            <ul class="swiper-wrapper">
                {% for block in section.blocks %}
                    {%- assign product = all_products[block.settings.product] -%}
                    <li class="swiper-slide" data-hash="slide1">
                        {% render 'card--product', product: product %}
                    </li>
                {% endfor %}
            </ul>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>  

         <!-- If we need navigation buttons -->
         <div class="swiper-arrow swiper-button-prev" tabindex="-1">
            <svg class='icon icon__arrow--left'><use xlink:href='#icon-swiper-previous'></use></svg>
            <span class="sr-only">Previous</span>
        </div>
        <div class="swiper-arrow swiper-button-next" tabindex="-1">
            <svg class='icon icon__arrow--right'><use xlink:href='#icon-swiper-next'></use></svg> 
            <span class="sr-only">Next</span>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Product Slider",
    "class": "page-section page-section--full-bleed",
    "max_blocks": 12,
    "settings": [
        {
            "type"  : "text",
            "id"    : "subtitle",
            "label" : "Subtitle"
        },
        {
            "type": "radio",
            "id": "subtitle_color",
            "label": "Choose the colour for the subtitle.",
            "info" : "Default colour will be blue.",
            "options": [
                { "value": "blue", "label": "Blue" },
                { "value": "coral", "label": "Coral" }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Product Slider"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "settings": [
                {
                    "label": "Product",
                    "id": "product",
                    "type": "product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Product Slider",
            "category": "Product",
            "blocks": [
                {
                    "type": "product"
                },
                {
                    "type": "product"
                },
                {
                    "type": "product"
                },
                {
                    "type": "product"
                }
            ]
        }
    ]
}
{% endschema %}
